
/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,255,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,255,0,0.4);
}

header {
	text-align: center;
	margin: 0 200px 0 0;
}
body {
}
div.content {
	display: flex;
	flex-flow: column nowrap;
  justify-content: center;
  background-color: #228B22;
	border: 20px ridge #556B2F;
	border-radius: 20px;
	height: 500px;
	/*width: 70%;*/
}
div.displayWrapper {
	background-color: black;
	-webkit-box-shadow: 0px 0px 25px 10px #000000;
	box-shadow: 0px 0px 25px 10px #000000;
	border-radius: 10px;
	flex-grow: 4;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	overflow: auto;
	margin: 20px 30px 10px 30px;
	height: 350px;

}
#game-welcome {
	flex: 2 2 20em;
	align-self: center;

	overflow: auto;
	color: lime;
	text-align: center;
	font-size: 40px;
	font-family: 'VT323', monospace;
}
#game-story {
	flex: 2 2 20em;

	overflow: auto;
	color: lime;
	text-align: left;
	font-size: 25px;
	font-family: 'VT323', monospace;
	padding: 30px;
	display: none;
}
.game-window{
	flex: 1 1 15em;

	border: 5px double #1C6EA4;
	border-radius: 10px;
	/*margin: 10px 10px 10px 0;*/
	margin: 50px 200px 50px 200px;
	overflow: auto;
	align-items: center;
	display: none;
}
#game-narration {
	color: lime;
	text-align: center;
	font-size: 23px;
	font-family: 'VT323', monospace;
	margin: 20px;
	overflow: auto;
}
#enemy-stats {
	color: lime;
	text-align: left;
	font-size: 25px;
	font-family: 'VT323', monospace;
	margin: 20px;
	overflow: auto;
}
#player-stats {
	color: lime;
	text-align: left;
	font-size: 25px;
	font-family: 'VT323', monospace;
	margin: 20px;
	overflow: auto;
}

div.controlWrapper {
	background-color: black;
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 10px 30px 20px 30px;
	-webkit-box-shadow: 0px 0px 25px 10px #000000;
	box-shadow: 0px 0px 25px 10px #000000;
	border-radius: 10px;
	height: 90px;

	text-align: center;
}
#choice-window {
	flex-grow: 1;
	border: 5px double #1C6EA4;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
	align-content: center;
	display: flex;
	justify-content: space-around;
}

#player-choice {
	color: lime;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
	align-self: center;
}
.myButton {
	-moz-box-shadow: 0px 6px 14px -3px #f2fadc;
	-webkit-box-shadow: 0px 6px 14px -3px #f2fadc;
	box-shadow: 0px 6px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #b2b8ad;
	cursor:pointer;
	color:#757d6f;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	font-weight:bold;
	width: 100px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;

	margin: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.myButton:active {
	position:relative;
	top:1px;
}